.context/integrations/n8n/[Coronel Picanha] Deal Stage Label Sync.json
{
  "name": "[Coronel Picanha] Deal Stage Label Sync",
  "nodes": [
    {
      "parameters": {
        "content": "## Deal Stage Label Sync\n\nEste workflow sincroniza labels no Chatwoot quando um deal muda de stage no CRM.\n\n### Fluxo:\n1. Webhook recebe evento deal.stage_changed\n2. Busca mapeamento de label para o novo stage\n3. Busca conversation link do deal\n4. Aplica label no Chatwoot\n5. Registra log de sincronização",
        "height": 320,
        "width": 400,
        "color": 4
      },
      "id": "sticky-intro",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-800, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deal/stage-changed",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-560, 400],
      "id": "webhook-stage-changed",
      "name": "Webhook_Stage_Changed",
      "webhookId": "deal-stage-changed-lagostacrm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "var-crm-host",
              "name": "CRM-Host",
              "value": "https://coronelpicanhacrm.vercel.app",
              "type": "string"
            },
            {
              "id": "var-cw-host",
              "name": "CW-Host",
              "value": "https://chatwoot-coronel.lagostacriativa.com.br",
              "type": "string"
            },
            {
              "id": "var-cw-account",
              "name": "CW-Account",
              "value": "1",
              "type": "string"
            },
            {
              "id": "var-deal-id",
              "name": "deal_id",
              "value": "={{ $json.body.deal?.id || $json.body.deal_id }}",
              "type": "string"
            },
            {
              "id": "var-stage-id",
              "name": "stage_id",
              "value": "={{ $json.body.deal?.stage_id || $json.body.to_stage_id }}",
              "type": "string"
            },
            {
              "id": "var-org-id",
              "name": "organization_id",
              "value": "={{ $json.body.organization_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variaveis",
      "name": "Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-336, 400]
    },
    {
      "parameters": {
        "url": "={{ $json['CRM-Host'] }}/api/chatwoot/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "stage_id",
              "value": "={{ $json.stage_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-label-map",
      "name": "Buscar_Label_Map",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-112, 400],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "RhZY4FZWk3Pstr72",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-label-exists",
              "leftValue": "={{ $json.data[0]?.chatwoot_label }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "check-label-map",
      "name": "Tem_Mapeamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [112, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "save-label",
              "name": "chatwoot_label",
              "value": "={{ $json.data[0].chatwoot_label }}",
              "type": "string"
            },
            {
              "id": "save-crm-tag",
              "name": "crm_tag_name",
              "value": "={{ $json.data[0].crm_tag_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-label",
      "name": "Set_Label",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 304]
    },
    {
      "parameters": {
        "url": "={{ $('Variaveis').item.json['CRM-Host'] }}/api/chatwoot/conversation-links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deal_id",
              "value": "={{ $('Variaveis').item.json.deal_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "buscar-conversation-link",
      "name": "Buscar_Conversation_Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 304],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "RhZY4FZWk3Pstr72",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-conv-exists",
              "leftValue": "={{ $json.data[0]?.chatwootConversationId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "check-conversation",
      "name": "Tem_Conversa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [784, 304]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "save-conv-id",
              "name": "chatwoot_conversation_id",
              "value": "={{ $json.data[0].chatwootConversationId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-conversation",
      "name": "Set_Conversation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1008, 208]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json['CW-Host'] }}/api/v1/accounts/{{ $('Variaveis').item.json['CW-Account'] }}/conversations/{{ $json.chatwoot_conversation_id }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"labels\": [\"{{ $('Set_Label').item.json.chatwoot_label }}\"]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "aplicar-label-chatwoot",
      "name": "Aplicar_Label_Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1232, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1uvzB18SDD4GzDDt",
          "name": "ChatWoot Coronel"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variaveis').item.json['CRM-Host'] }}/api/chatwoot/labels/sync-log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Organization-Id",
              "value": "={{ $('Variaveis').item.json.organization_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_id\": \"{{ $('Variaveis').item.json.deal_id }}\",\n  \"action\": \"add_label\",\n  \"label_name\": \"{{ $('Set_Label').item.json.chatwoot_label }}\",\n  \"target\": \"chatwoot\",\n  \"success\": {{ $json.error ? false : true }},\n  \"error_message\": {{ $json.error ? JSON.stringify($json.error) : null }},\n  \"triggered_by\": \"stage_change\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "registrar-log",
      "name": "Registrar_Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1456, 208],
      "credentials": {
        "httpHeaderAuth": {
          "id": "RhZY4FZWk3Pstr72",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-label-map",
      "name": "Sem_Mapeamento",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [336, 496]
    },
    {
      "parameters": {},
      "id": "no-conversation",
      "name": "Sem_Conversa",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1008, 400]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook_Stage_Changed": {
      "main": [
        [
          {
            "node": "Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis": {
      "main": [
        [
          {
            "node": "Buscar_Label_Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Label_Map": {
      "main": [
        [
          {
            "node": "Tem_Mapeamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem_Mapeamento?": {
      "main": [
        [
          {
            "node": "Set_Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem_Mapeamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Label": {
      "main": [
        [
          {
            "node": "Buscar_Conversation_Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar_Conversation_Link": {
      "main": [
        [
          {
            "node": "Tem_Conversa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem_Conversa?": {
      "main": [
        [
          {
            "node": "Set_Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem_Conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Conversation": {
      "main": [
        [
          {
            "node": "Aplicar_Label_Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplicar_Label_Chatwoot": {
      "main": [
        [
          {
            "node": "Registrar_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "lagostacrm-chatwoot-labels-sync"
  },
  "tags": []
}
