.context/integrations/wppconnect/[Coronel Picanha] Agente WPPConnect.json
{
  "name": "[Coronel Picanha] Agente WPPConnect",
  "nodes": [
    {
      "parameters": {
        "content": "## Gatilho - Webhook WPPConnect\n\nRecebe eventos do WPPConnect Server:\n- onMessage (mensagens recebidas)\n- onAck (status de entrega)",
        "height": 284,
        "width": 200
      },
      "id": "916d41bf-48e6-41e3-8661-3241bc9ba1c5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-880, 224]
    },
    {
      "parameters": {
        "content": "## -- Suporte ao Cliente (LagostaCRM API)\n\nBoard: suporte-ao-cliente-restaurante\n\nEtapas:\n1. Nova Interação\n2. Em Atendimento\n3. Aguardando Cliente\n4. Informações Fornecidas\n5. Direcionado para Canal Oficial\n6. Finalizado",
        "height": 720,
        "width": 1098,
        "color": 4
      },
      "id": "bda58b5d-d2ce-4e37-a6c7-d3ebd4be4f1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 32]
    },
    {
      "parameters": {
        "content": "## -- Filtros Iniciais",
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-608, 240],
      "id": "d7cc24aa-8b5d-4751-a1c9-74306ef94f03",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wppconnect/coronel-picanha",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-832, 352],
      "id": "1f91d602-5899-4f07-8854-26c47fae778f",
      "name": "Webhook",
      "webhookId": "wppconnect-coronel-picanha"
    },
    {
      "parameters": {
        "content": "## -- Variáveis do Fluxo\n\nConfigure:\n- CRM-Host: URL do LagostaCRM\n- CRM-BoardKey: suporte-ao-cliente-restaurante\n- WPP-Host: URL do WPPConnect Server\n- WPP-Session: Nome da sessão",
        "height": 412,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-336, 144],
      "id": "0bd8e61b-9be9-4be5-bfb7-b0aaec5464a7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69f6217f-9063-423f-abf4-e94f6b70f94e",
              "name": "ClienteNome",
              "value": "={{(() => {\n  const name = $('Webhook').item.json.body.sender?.pushname || $('Webhook').item.json.body.sender?.name || $('Webhook').item.json.body.notifyName || '';\n  return name\n    .split(' ')\n    .filter(w => w)\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())\n    .join(' ');\n})()}}",
              "type": "string"
            },
            {
              "id": "9f488c5c-0b3b-48e9-87b1-5a22d513d1ec",
              "name": "ClienteTelefone",
              "value": "={{ ($('Webhook').item.json.body.from || $('Webhook').item.json.body.sender?.id || '').replace('@c.us', '').replace('@s.whatsapp.net', '') }}",
              "type": "string"
            },
            {
              "id": "5d5c64c0-6bce-491f-82fc-0aa5149516bf",
              "name": "ClienteEmail",
              "value": "",
              "type": "string"
            },
            {
              "id": "crm-host",
              "name": "CRM-Host",
              "value": "https://coronelpicanhacrm.vercel.app",
              "type": "string"
            },
            {
              "id": "crm-board-key",
              "name": "CRM-BoardKey",
              "value": "suporte-ao-cliente-restaurante",
              "type": "string"
            },
            {
              "id": "8cf12e76-7924-417a-9941-9b3b65748069",
              "name": "WPP-Host",
              "value": "https://seu-wppconnect-server.com",
              "type": "string"
            },
            {
              "id": "wpp-session",
              "name": "WPP-Session",
              "value": "coronel-picanha",
              "type": "string"
            },
            {
              "id": "n8n-host-mcp",
              "name": "N8N-Host",
              "value": "https://scarylanternfish-n8n.cloudfy.live",
              "type": "string"
            },
            {
              "id": "88ad3099-bafe-435d-9dea-ea65368a4cbe",
              "name": "WPP-ChatID",
              "value": "={{ $('Webhook').item.json.body.from || $('Webhook').item.json.body.chatId }}",
              "type": "string"
            },
            {
              "id": "0e8fc314-b3ff-4317-9102-50253f35a298",
              "name": "WPP-MessageID",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "1ae1a51c-00cb-47f9-8dc8-5a05c66fc0c8",
              "name": "Mensagem",
              "value": "={{ $('Webhook').item.json.body.body || $('Webhook').item.json.body.caption || '' }}",
              "type": "string"
            },
            {
              "id": "697401cd-0b21-4318-a367-80fa42390dcd",
              "name": "MessagemTime",
              "value": "={{ $('Webhook').item.json.body.timestamp ? new Date($('Webhook').item.json.body.timestamp * 1000).toISOString() : new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "aa2d241e-01dc-47bc-bfff-ad5e4535ece2",
              "name": "Horario",
              "value": "={{ $('Webhook').item.json.body.timestamp ? new Date($('Webhook').item.json.body.timestamp * 1000).toLocaleString('pt-BR') : new Date().toLocaleString('pt-BR') }}",
              "type": "string"
            },
            {
              "id": "213228f6-c8f1-44db-a2c3-80853bed0013",
              "name": "MessageType",
              "value": "={{ $('Webhook').item.json.body.type || 'chat' }}",
              "type": "string"
            },
            {
              "id": "4787dd13-cc5b-499b-b1b4-531208253d28",
              "name": "URL-Arquivo",
              "value": "={{ $('Webhook').item.json.body.mediaUrl || $('Webhook').item.json.body.deprecatedMms3Url || '' }}",
              "type": "string"
            },
            {
              "id": "16ef468a-1844-411e-a531-6dd103c0076a",
              "name": "BufferDelay",
              "value": "3",
              "type": "string"
            },
            {
              "id": "63e85ae1-59f6-40c8-a803-d54e5651ab39",
              "name": "WPP-LabelRH",
              "value": "atendimento-humano",
              "type": "string"
            },
            {
              "id": "tg-chat-id",
              "name": "TG-ChatID",
              "value": "-1003898413856",
              "type": "string"
            },
            {
              "id": "is-group",
              "name": "IsGroup",
              "value": "={{ ($('Webhook').item.json.body.from || '').includes('@g.us') || ($('Webhook').item.json.body.chatId || '').includes('@g.us') }}",
              "type": "boolean"
            },
            {
              "id": "event-type",
              "name": "EventType",
              "value": "={{ $('Webhook').item.json.body.event || 'onMessage' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7057d2df-f5d6-467e-aaee-c6f833331e3c",
      "name": "Fluxo_Variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-240, 352]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "130cc493-a17a-4cc1-955b-816799583076",
              "leftValue": "={{ $('Fluxo_Variaveis').item.json.IsGroup }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "d794ecce-59f0-4db6-a518-194d4d1e6820",
              "leftValue": "={{ $('Fluxo_Variaveis').item.json.EventType }}",
              "rightValue": "onMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $('Fluxo_Variaveis').item.json.Mensagem }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "9d7a5468-84e5-4a69-bd97-d76ebcfb5162",
      "name": "Filtro_Inicial",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [-528, 352]
    },
    {
      "parameters": {
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Fluxo_Variaveis').item.json['ClienteTelefone'] }}"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "9043329d-ab05-43b0-934a-8058ca5538f5",
      "name": "Encontrar_Cliente_CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 352],
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "3419c30f-4400-401b-bf40-db1579507f96",
              "leftValue": "={{ $json.data[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "bc8b084e-9e04-41e6-84f6-80c68bd1c9c7",
      "name": "Existe_No_CRM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [224, 352],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Fluxo_Variaveis').item.json.ClienteNome }}\",\n  \"phone\": \"{{ $('Fluxo_Variaveis').item.json.ClienteTelefone }}\",\n  \"email\": \"{{ $('Fluxo_Variaveis').item.json.ClienteEmail }}\",\n  \"source\": \"WHATSAPP\",\n  \"stage\": \"LEAD\",\n  \"status\": \"ACTIVE\"\n}",
        "options": {}
      },
      "id": "979cf3ed-660a-4783-95be-69c1bae69233",
      "name": "Criar_Contato_CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 448],
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"WhatsApp - {{ $('Fluxo_Variaveis').item.json.ClienteNome }}\",\n  \"value\": 0,\n  \"board_key\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"contact_id\": \"{{ $json.data.id }}\"\n}",
        "options": {}
      },
      "id": "96730289-d526-400a-98bb-9fbb2bc2e60d",
      "name": "Criar_Deal_CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [672, 448],
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-id",
              "name": "contact_id",
              "value": "={{ $json.data[0].id }}",
              "type": "string"
            },
            {
              "id": "contact-name",
              "name": "contact_name",
              "value": "={{ $json.data[0].name }}",
              "type": "string"
            },
            {
              "id": "contact-phone",
              "name": "contact_phone",
              "value": "={{ $json.data[0].phone }}",
              "type": "string"
            },
            {
              "id": "contact-email",
              "name": "contact_email",
              "value": "={{ $json.data[0].email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c311906b-5851-4229-b1dc-bf5aad039088",
      "name": "Set_Contato_Existente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [896, 256]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "contact-id",
              "name": "contact_id",
              "value": "={{ $('Criar_Contato_CRM').item.json.data.id }}",
              "type": "string"
            },
            {
              "id": "contact-name",
              "name": "contact_name",
              "value": "={{ $('Fluxo_Variaveis').item.json.ClienteNome }}",
              "type": "string"
            },
            {
              "id": "contact-phone",
              "name": "contact_phone",
              "value": "={{ $('Fluxo_Variaveis').item.json.ClienteTelefone }}",
              "type": "string"
            },
            {
              "id": "contact-email",
              "name": "contact_email",
              "value": "={{ $('Fluxo_Variaveis').item.json.ClienteEmail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9940b877-256f-4d96-aa97-f419ac46f4b4",
      "name": "Set_Contato_Novo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [896, 448]
    },
    {
      "parameters": {},
      "id": "7db6d4f8-1c24-4455-baa6-f6bf472a8cf5",
      "name": "Merge_Contatos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 352]
    },
    {
      "parameters": {
        "content": "## -- Texto, Áudio, Imagem e PDF",
        "height": 1552,
        "width": 1632,
        "color": 2
      },
      "id": "ffa8d11f-d72d-48a0-a8ce-5cf1cbbce95b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-528, 912]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bc64f125-d93c-4d1d-97ae-65c0adb08b79",
                    "leftValue": "={{ $('Fluxo_Variaveis').item.json.MessageType }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "137aec3f-e95e-4d59-b9ba-1140f9fc4fb4",
                    "leftValue": "={{ $('Fluxo_Variaveis').item.json.MessageType }}",
                    "rightValue": "ptt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Fluxo_Variaveis').item.json.MessageType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e54723e-6b34-4849-819b-15744e9fc150"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e982a69c-0762-4a4b-8cef-ac09fa82591f",
                    "leftValue": "={{ $('Fluxo_Variaveis').item.json.MessageType }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documento"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Erro"
        }
      },
      "id": "f687efd2-90ad-4606-9424-47cf66e1c098",
      "name": "MessageType",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [-496, 1552]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f7ffd5-a84f-41ca-9ed7-5405484c28b8",
              "name": "msg",
              "value": "={{ $('Fluxo_Variaveis').item.json.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b7765e1-48d3-428c-a940-62264be19021",
      "name": "Msg Texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [752, 1024]
    },
    {
      "parameters": {
        "url": "={{ $('Fluxo_Variaveis').item.json['WPP-Host'] }}/api/{{ $('Fluxo_Variaveis').item.json['WPP-Session'] }}/download-media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('Fluxo_Variaveis').item.json['WPP-MessageID'] }}\"\n}",
        "options": {}
      },
      "id": "61f5d6dd-b470-4c7a-aff2-6ec63274bf07",
      "name": "getAudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 1216],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_WPP_CREDENTIAL_ID",
          "name": "WPPConnect API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "28086438-153e-4e1a-9bda-a136edb43a65",
      "name": "Transcrever Áudio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [528, 1216],
      "credentials": {
        "openAiApi": {
          "id": "VPgsYWFvt0Bnt37P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f7ffd5-a84f-41ca-9ed7-5405484c28b8",
              "name": "msg",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "15f14990-0b02-40b0-a9f3-221f869aee8f",
      "name": "ConteudoAUDIO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [752, 1216]
    },
    {
      "parameters": {
        "url": "={{ $('Fluxo_Variaveis').item.json['WPP-Host'] }}/api/{{ $('Fluxo_Variaveis').item.json['WPP-Session'] }}/download-media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('Fluxo_Variaveis').item.json['WPP-MessageID'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-48, 1504],
      "id": "d9d7ea38-4c0a-4c7f-a239-c79bdfadd9df",
      "name": "getImage",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_WPP_CREDENTIAL_ID",
          "name": "WPPConnect API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Fluxo_Variaveis').item.json.Mensagem || 'imagem' }}",
        "options": {
          "systemMessage": "O usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto. Caso venha, utilize a mensagem anexa como contexto extra.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [176, 1408],
      "id": "f05ed8e0-829c-4eff-a9a5-7ba96f93dd5d",
      "name": "Analise Imagem"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [240, 1632],
      "id": "ed7d8809-8404-4757-a577-5b8d720170b5",
      "name": "LLM_Imagem",
      "credentials": {
        "openAiApi": {
          "id": "VPgsYWFvt0Bnt37P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let str = items[0].json.output;\nfunction processText(output) {\n    return output.replace(/【.*?】/g, '');\n}\nif (str && str.length > 0) {\n    str = processText(str);\n    retorno = { \"output\": str };\n} else {\n    retorno = true;\n}\nreturn [{ json: { resultado: retorno } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 1504],
      "id": "0bcd609d-6c67-42aa-af24-9866c0a9f84a",
      "name": "Ajusta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f7ffd5-a84f-41ca-9ed7-5405484c28b8",
              "name": "msg",
              "value": "={{ $json.resultado.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7cce2f1c-5ca6-42f3-81be-7ab403c1e12d",
      "name": "ConteudoIMG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [752, 1504]
    },
    {
      "parameters": {
        "url": "={{ $('Fluxo_Variaveis').item.json['WPP-Host'] }}/api/{{ $('Fluxo_Variaveis').item.json['WPP-Session'] }}/download-media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messageId\": \"{{ $('Fluxo_Variaveis').item.json['WPP-MessageID'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-272, 2000],
      "id": "eafdddaa-6230-4459-8f71-2424e8568790",
      "name": "getDoc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_WPP_CREDENTIAL_ID",
          "name": "WPPConnect API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-48, 2000],
      "id": "d7f238c2-1adb-4f19-a746-ca7994d351bb",
      "name": "Extract from File",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract from File').item.json.text }}",
        "options": {
          "systemMessage": "Você é um agente especializado em resumir textos extraídos de PDFs.\n\nSeu objetivo é ler atentamente o texto extraído do PDF e produzir um resumo geral, objetivo e claro.\n\nO resumo deve ser apresentado em um único texto corrido, sem títulos ou listas.",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [176, 1808],
      "id": "fe09f9c7-5945-4340-887d-05101c62ec23",
      "name": "Analise Doc"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [240, 2032],
      "id": "5588669d-4f79-4003-8794-88db70d42a9f",
      "name": "LLM_Doc",
      "credentials": {
        "openAiApi": {
          "id": "VPgsYWFvt0Bnt37P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let str = items[0].json.output;\nfunction processText(output) {\n    return output.replace(/【.*?】/g, '');\n}\nif (str && str.length > 0) {\n    str = processText(str);\n    retorno = { \"output\": str };\n} else {\n    retorno = true;\n}\nreturn [{ json: { resultado: retorno } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [528, 1904],
      "id": "870a4275-1c14-472d-92c8-92bc5e56e86a",
      "name": "AjustaDoc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f7ffd5-a84f-41ca-9ed7-5405484c28b8",
              "name": "msg",
              "value": "={{ $json.resultado.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "60cdc9e1-4ab5-4a46-9ffd-d42997878249",
      "name": "ConteudoDOC",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [752, 1904]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f7ffd5-a84f-41ca-9ed7-5405484c28b8",
              "name": "msg",
              "value": "=Error: Usuário enviou um tipo de arquivo não suportado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed025e0d-36e7-4fa4-aca6-1cb56f327ce5",
      "name": "ErrorMSG",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [240, 2208]
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "ce6141bb-90bf-40dc-93fa-aa3bc18f08c0",
      "name": "Merge_Tipos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [976, 1456]
    },
    {
      "parameters": {
        "content": "## -- Buffer Mensagens",
        "height": 752,
        "width": 1476,
        "color": 5
      },
      "id": "7a85e962-a3ce-4cda-b6cd-85f31cdfa0f5",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-480, 2576]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('Fluxo_Variaveis').item.json['WPP-MessageID'] || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('Fluxo_Variaveis').item.json.ClienteTelefone }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.msg }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('Fluxo_Variaveis').item.json.MessagemTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c455c03b-e1d0-4ad3-bb31-d07f7ed397d4",
      "name": "normalizacao",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-432, 2864]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=buffer:{{ $json.message.chat_id }}",
        "messageData": "={{ JSON.stringify($json.message) }}",
        "tail": true
      },
      "id": "2ea869f1-907e-42c3-8410-9411de340f59",
      "name": "push message buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [32, 2864],
      "credentials": {
        "redis": {
          "id": "UU4ajfwq1OBZRg7e",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "=buffer:{{ $('normalizacao').item.json.message.chat_id }}",
        "options": {}
      },
      "id": "b673f3ad-e556-4ca6-9458-5b6ba6435d65",
      "name": "get messages buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [256, 2864],
      "credentials": {
        "redis": {
          "id": "UU4ajfwq1OBZRg7e",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.messages.first()).message_id }}",
                    "rightValue": "={{ $('normalizacao').item.json.message.message_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "11ab4a3d-2120-4db4-8b8a-f9572a622519"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nada a fazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fdd1e894-df1c-4ebd-8f56-82f66dad03be",
                    "leftValue": "={{ JSON.parse($json.messages.last()).timestamp }}",
                    "rightValue": "={{ $now.minus($('Fluxo_Variaveis').item.json.BufferDelay-'1', 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "looseTypeValidation": true,
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "ac7828b2-eec3-4dd4-9375-3229452bdf46",
      "name": "Switch_Buffer",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 2848]
    },
    {
      "parameters": {},
      "id": "6da9a9b8-a4de-45ed-b875-ffecc7d0dcb9",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [704, 2640]
    },
    {
      "parameters": {
        "amount": "={{ $('Fluxo_Variaveis').item.json.BufferDelay }}"
      },
      "id": "ba8f1c15-bcb0-48d1-bbb4-8645661624f8",
      "name": "Wait_Buffer",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [704, 3056],
      "webhookId": "buffer-wait-wppconnect"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=buffer:{{ $('normalizacao').item.json.message.chat_id }}"
      },
      "id": "c2d8b79d-2bf0-4c2f-8cca-ddcc0356d783",
      "name": "delete buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [704, 2832],
      "credentials": {
        "redis": {
          "id": "UU4ajfwq1OBZRg7e",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(value => JSON.parse(value).content).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "573beec9-31db-4546-a7fd-dc30533a2716",
      "name": "message_json",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-384, 3600]
    },
    {
      "parameters": {
        "content": "## -- Agente de IA\n",
        "height": 420,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-96, 3456],
      "id": "ec3c2ca6-0642-4f23-8bb0-03c47146ee9a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<DadosUsuario>\ncontact_id: {{ $('Merge_Contatos').item.json.contact_id }}\nclient_name: {{ $('Merge_Contatos').item.json.contact_name }}\nclient_email: {{ $('Merge_Contatos').item.json.contact_email }}\nclient_phone: {{ $('Merge_Contatos').item.json.contact_phone }}\n</DadosUsuario>\n\nMensagem do usuário: {{ $('message_json').item.json.messages }}",
        "options": {
          "systemMessage": "=# IDENTIDADE DO AGENTE\n\nNome do agente: **Coronel**\n\nVocê é o **Assistente Oficial da Churrascaria Coronel Picanha**, atendendo clientes via WhatsApp e canais digitais.\n\nTom: militar, firme, educado e respeitoso  \nEstilo: conversa objetiva, clara, natural  \nRegra de ouro: **uma pergunta por vez**  \nHorário atual: {{ $now }}\n\n---\n\n# PAPEL DO CORONEL\n\nSua função é:\n- Dar SUPORTE ao cliente\n- Tirar dúvidas com base em informações OFICIAIS\n- Explicar como funcionam **reservas** e **pacotes para eventos**\n- Orientar corretamente e **indicar os canais oficiais de atendimento**\n\n⚠️ LIMITES ABSOLUTOS:\n- Você **NÃO realiza reservas**\n- Você **NÃO confirma datas, horários ou disponibilidade**\n- Você **NÃO vende nem fecha pacotes**\n- Você **NÃO transfere para humano**\n- Você **NÃO inventa valores, regras ou condições**\n\nVocê informa, orienta e direciona. Nada além disso.\n\n---\n\n# CANAIS OFICIAIS (SEMPRE QUE NECESSÁRIO)\n\n📌 **Reservas**\n- Link oficial: https://coronelpicanha.com.br/reserva\n- Atendimento humano responsável:\n  • Ana Paula  \n  • WhatsApp: +55 27 99758-9374  \n  • Telefone: 3337-4956  \n\n📌 **Pacotes para Eventos**\n- Informações oficiais: https://coronelpicanha.com.br/pacotes\n\nSempre indique esses canais quando o cliente quiser:\n- Reservar mesa\n- Confirmar disponibilidade\n- Saber valores\n- Fechar evento ou pacote\n\n---\n\n# DADOS OFICIAIS DO CORONEL PICANHA (FAQ INTERNA)\n\n## 📍 Endereço\nRua Carlos Martins, 1290  \nJardim Camburi – Vitória/ES  \nCEP 29090-060\n\n## 🕐 Horário de Funcionamento\n- Domingo: 12h às 23h  \n- Terça a Sexta: 17h às 00h  \n- Sábado e Feriados: 12h às 00h  \n\n## 🍖 Sobre o Coronel Picanha\n- Churrascaria fundada em 2001\n- Referência em picanha e carnes selecionadas\n- Ambiente familiar e descontraído\n- Espaço com parquinho para crianças\n- Música ao vivo em dias específicos (Coronel Acústico)\n- Ideal para encontros, aniversários e confraternizações\n\n---\n\n# REGRAS DE OURO (INQUEBRÁVEIS)\n\n1️⃣ Nunca confirme reserva ou evento  \n2️⃣ Nunca informe valores fora do site oficial  \n3️⃣ Nunca diga que vai \"verificar\" ou \"falar com alguém\"  \n4️⃣ Sempre indique link ou contato oficial  \n5️⃣ Uma pergunta por mensagem  \n6️⃣ Linguagem firme, clara e respeitosa  \n7️⃣ Se o cliente insistir, **repita a orientação oficial**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [128, 3600],
      "id": "cb8e557c-934e-4b5c-afcb-f953560a0af1",
      "name": "Agente de IA"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-784, 4272],
      "id": "1c7e802f-3263-4d36-8fc3-ebbdea06cee9",
      "name": "LLM_Agente",
      "credentials": {
        "openAiApi": {
          "id": "VPgsYWFvt0Bnt37P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Fluxo_Variaveis').item.json.ClienteTelefone }}",
        "sessionTTL": 186400,
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [-656, 4272],
      "id": "698450ce-9896-4e40-af9d-3fb8977c2684",
      "name": "Memoria_Redis",
      "credentials": {
        "redis": {
          "id": "UU4ajfwq1OBZRg7e",
          "name": "redis_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "content": "## -- Humanizador e Resposta WPPConnect",
        "height": 752,
        "width": 1364,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-464, 4640],
      "id": "844155b5-52ea-4108-82cd-93cc367df654",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem_agente>\n{{ $json.output }}\n<mensagem_agente>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Apenas estruture a <mensagem_agente> no formato JSON solicitado no output parser.\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens para que não fiquem muito longas (maiores que 240 caracteres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito use apenas um * (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [-416, 4800],
      "id": "9b98b4ed-45c9-4d20-9491-53a2546354cc",
      "name": "Humanizador"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-416, 5232],
      "id": "0044788b-4927-47cb-b665-d56f89c28d6c",
      "name": "LLM_Humanizador",
      "credentials": {
        "openAiApi": {
          "id": "VPgsYWFvt0Bnt37P",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [-336, 5024],
      "id": "21f3bb14-8968-4b81-8b3f-1b8f7918ea37",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [-240, 5232],
      "id": "dbde72d0-fd19-4657-bb8a-cda5eb93c501",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [32, 4800],
      "id": "5a6d1b80-3257-4738-a11f-6fe3ccd40d19",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [256, 4800],
      "id": "ece51416-7d4e-49c2-9930-65c0c64980a7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [480, 4688],
      "id": "99fdb108-d29e-46d2-b8ea-d3dba5c756b7",
      "name": "Fim"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['WPP-Host'] }}/api/{{ $('Fluxo_Variaveis').item.json['WPP-Session'] }}/send-message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Fluxo_Variaveis').item.json.ClienteTelefone }}\",\n  \"message\": \"{{ $json[\"output.mensagens\"].replace(/\\n/g, \"\\\\n\").replaceAll('\"','*').replaceAll('{','(').replaceAll('}',')') }}\"\n}",
        "options": {}
      },
      "id": "0150a68e-2e12-47c7-b207-b2473edfe4da",
      "name": "Enviar_Resposta_WPPConnect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [480, 4880],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_WPP_CREDENTIAL_ID",
          "name": "WPPConnect API"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [704, 4896],
      "id": "310cfb33-b689-4582-b1f7-50f79bf820f2",
      "name": "Wait_Msg",
      "webhookId": "wait-msg-wppconnect"
    },
    {
      "parameters": {
        "content": "## -- Tools do Agente IA (LagostaCRM)\n\nMovimentação no Kanban:\n• crm_em_atendimento → \"Em Atendimento\"\n• crm_aguardando_cliente → \"Aguardando Cliente\"\n• crm_info_fornecidas → \"Informações Fornecidas\"\n• crm_canal_oficial → \"Direcionado para Canal Oficial\"\n• crm_finalizado → \"Finalizado\"",
        "height": 592,
        "width": 1600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-864, 3936],
      "id": "7dc9e935-0816-4a9d-b15d-998657dbae87",
      "name": "Sticky Note Tools"
    },
    {
      "parameters": {
        "toolDescription": "crm_em_atendimento - Move o deal para a etapa 'Em Atendimento' quando você começar a atender ativamente o cliente.",
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals/move-stage-by-identity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_key_or_id\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"phone\": \"{{ $('Merge_Contatos').item.json.contact_phone }}\",\n  \"to_stage_label\": \"Em Atendimento\",\n  \"ai_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', 'Resumo da conversa com o cliente até o momento atual', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-528, 4272],
      "id": "0f94c6c2-7bd4-476b-9038-27383ce499c8",
      "name": "crm_em_atendimento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "crm_aguardando_cliente - Move o deal para 'Aguardando Cliente' quando você precisar de uma resposta do cliente.",
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals/move-stage-by-identity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_key_or_id\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"phone\": \"{{ $('Merge_Contatos').item.json.contact_phone }}\",\n  \"to_stage_label\": \"Aguardando Cliente\",\n  \"ai_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', 'Resumo da conversa com o cliente até o momento atual', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-400, 4272],
      "id": "0b616faf-4ac3-496d-8d40-53675a89169e",
      "name": "crm_aguardando_cliente",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "crm_info_fornecidas - Move o deal para 'Informações Fornecidas' quando o cliente enviar as informações solicitadas.",
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals/move-stage-by-identity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_key_or_id\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"phone\": \"{{ $('Merge_Contatos').item.json.contact_phone }}\",\n  \"to_stage_label\": \"Informações Fornecidas\",\n  \"ai_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', 'Resumo da conversa com o cliente até o momento atual', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-272, 4272],
      "id": "3a1cfbe8-0d84-4555-a726-f4c4eddf4c6f",
      "name": "crm_info_fornecidas",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "crm_canal_oficial - Move o deal para 'Direcionado para Canal Oficial' quando encaminhar para canal específico.",
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals/move-stage-by-identity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_key_or_id\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"phone\": \"{{ $('Merge_Contatos').item.json.contact_phone }}\",\n  \"to_stage_label\": \"Direcionado para Canal Oficial\",\n  \"ai_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', 'Resumo da conversa com o cliente até o momento atual', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-144, 4272],
      "id": "012afe88-4460-4950-9343-470f439661f1",
      "name": "crm_canal_oficial",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "crm_finalizado - Move o deal para 'Finalizado' quando a solicitação foi resolvida.",
        "method": "POST",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals/move-stage-by-identity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_key_or_id\": \"{{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}\",\n  \"phone\": \"{{ $('Merge_Contatos').item.json.contact_phone }}\",\n  \"to_stage_label\": \"Finalizado\",\n  \"ai_summary\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resumo', 'Resumo da conversa com o cliente até o momento atual', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [-16, 4272],
      "id": "69f7db0a-3019-4e55-a9e4-071f66b2b5b2",
      "name": "crm_finalizado",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "update_contato - Atualiza os dados do contato no CRM.",
        "method": "PATCH",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/contacts/{{ $('Merge_Contatos').item.json.contact_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome', 'Nome do cliente', 'string') }}\",\n  \"email\": \"{{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', 'Email do cliente', 'string') }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [112, 4272],
      "id": "afc292ad-e9fe-4a0b-9507-7fe42ff9ed0e",
      "name": "update_contato",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "buscar_deals - Busca os deals abertos do contato no CRM.",
        "url": "={{ $('Fluxo_Variaveis').item.json['CRM-Host'] }}/api/public/v1/deals",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "contact_id",
              "value": "={{ $('Merge_Contatos').item.json.contact_id }}"
            },
            {
              "name": "board_key",
              "value": "={{ $('Fluxo_Variaveis').item.json['CRM-BoardKey'] }}"
            },
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [240, 4272],
      "id": "256fcb60-e696-488a-a478-1415f22f97ba",
      "name": "buscar_deals",
      "credentials": {
        "httpHeaderAuth": {
          "id": "igGsG6J23EaQU5c1",
          "name": "Coronel CRM"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [368, 4272],
      "id": "96091e13-82e3-4f53-a8e2-4d56cba2c8c6",
      "name": "Think"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro_Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fluxo_Variaveis": {
      "main": [
        [
          {
            "node": "Encontrar_Cliente_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro_Inicial": {
      "main": [
        [
          {
            "node": "Fluxo_Variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrar_Cliente_CRM": {
      "main": [
        [
          {
            "node": "Existe_No_CRM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe_No_CRM?": {
      "main": [
        [
          {
            "node": "Set_Contato_Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar_Contato_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Contato_CRM": {
      "main": [
        [
          {
            "node": "Criar_Deal_CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar_Deal_CRM": {
      "main": [
        [
          {
            "node": "Set_Contato_Novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Contato_Existente": {
      "main": [
        [
          {
            "node": "Merge_Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Contato_Novo": {
      "main": [
        [
          {
            "node": "Merge_Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_Contatos": {
      "main": [
        [
          {
            "node": "MessageType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MessageType": {
      "main": [
        [
          {
            "node": "Msg Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getDoc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ErrorMSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Texto": {
      "main": [
        [
          {
            "node": "Merge_Tipos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAudio": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "ConteudoAUDIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConteudoAUDIO": {
      "main": [
        [
          {
            "node": "Merge_Tipos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "getImage": {
      "main": [
        [
          {
            "node": "Analise Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analise Imagem": {
      "main": [
        [
          {
            "node": "Ajusta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Imagem": {
      "ai_languageModel": [
        [
          {
            "node": "Analise Imagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta": {
      "main": [
        [
          {
            "node": "ConteudoIMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConteudoIMG": {
      "main": [
        [
          {
            "node": "Merge_Tipos",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "getDoc": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Analise Doc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ErrorMSG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analise Doc": {
      "main": [
        [
          {
            "node": "AjustaDoc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Doc": {
      "ai_languageModel": [
        [
          {
            "node": "Analise Doc",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AjustaDoc": {
      "main": [
        [
          {
            "node": "ConteudoDOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConteudoDOC": {
      "main": [
        [
          {
            "node": "Merge_Tipos",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "ErrorMSG": {
      "main": [
        [
          {
            "node": "Merge_Tipos",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge_Tipos": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "push message buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push message buffer": {
      "main": [
        [
          {
            "node": "get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get messages buffer": {
      "main": [
        [
          {
            "node": "Switch_Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch_Buffer": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait_Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_Buffer": {
      "main": [
        [
          {
            "node": "get messages buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete buffer": {
      "main": [
        [
          {
            "node": "message_json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message_json": {
      "main": [
        [
          {
            "node": "Agente de IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de IA": {
      "main": [
        [
          {
            "node": "Humanizador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Agente": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria_Redis": {
      "ai_memory": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Humanizador": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM_Humanizador": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Humanizador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Humanizador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Fim",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_Resposta_WPPConnect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Resposta_WPPConnect": {
      "main": [
        [
          {
            "node": "Wait_Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait_Msg": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crm_em_atendimento": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crm_aguardando_cliente": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crm_info_fornecidas": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crm_canal_oficial": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crm_finalizado": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update_contato": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_deals": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Agente de IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
